In [2]:
import pandas as pd
from datetime import  datetime

## Importação dos arquivos da camada RAW

Importei os arquivos da camanada raw em um dicionário com a chave sendo o nome do dataframe e o valor sendo o caminho do arquivos dentro da camada raw.\
Isso irá facilitar no momento em que iremos criar as colunas com as informações de `data de ingestão` e `caminho arquivos`.

In [4]:
# Criação da variável que vai conter o dicionário com o nome do dataframe + caminho arquivo.

arquivos_raw = {
    "df_devolucao": 'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/0_raw/devolucao.csv',
    "df_vendas": 'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/0_raw/vendas_2020.csv',
    "df_clientes": 'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/0_raw/clientes.csv',
    "df_localidades": 'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/0_raw/localidades.csv',
    "df_lojas": 'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/0_raw/lojas.csv',
    "df_produtos": 'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/0_raw/produtos.csv'
            }

In [5]:
# Aqui nós criamos um loop for para criar os Dataframes e adicionar em cada um deles a informação de Data de ingestão e Origem dos arquivos.

dfs = {}

for nome_df, caminho in arquivos_raw.items():
    df = pd.read_csv(caminho, delimiter=';')
    df["data_ingestao"] = datetime.now().strftime("%Y-%m-%d %H:%M")
    df["origem_arquivo"] = caminho  
    dfs[nome_df] = df

In [6]:
# Atribuição dos dataframes.

df_devolucao = dfs["df_devolucao"]
df_vendas = dfs["df_vendas"]
df_clientes = dfs["df_clientes"]
df_localidades = dfs["df_localidades"]
df_lojas = dfs["df_lojas"]
df_produtos = dfs["df_produtos"]

## Checagem nos arquivos:
Iremos agora realizar algumas checagens nos dataframes E realizar mais alguns ajustes se necessários.

In [8]:
# Precisamos alterar o tipo de dado da data
# Convertendo o tipo de dado das colunas de datas.
df_devolucao['Data Devolução'] = pd.to_datetime(df_devolucao['Data Devolução'])
df_devolucao['data_ingestao'] = pd.to_datetime(df_devolucao['data_ingestao'])
df_devolucao.info()
df_devolucao.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1809 entries, 0 to 1808
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data Devolução    1809 non-null   datetime64[ns]
 1   ID Loja           1809 non-null   int64
 2   SKU               1809 non-null   object
 3   Qtd Devolvida     1809 non-null   int64
 4   Motivo Devolução  1809 non-null   object
 5   data_ingestao     1809 non-null   datetime64[ns]
 6   origem_arquivo    1809 non-null   object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 99.1+ KB

,Data Devolução,ID Loja,SKU,Qtd Devolvida,Motivo Devolução,data_ingestao,origem_arquivo
0,2020-01-18,309,HL45,1,Produto com defeito,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
1,2020-01-18,306,HL43,1,Produto com defeito,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
2,2020-01-21,41,HL67,1,Produto com defeito,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
3,2020-01-22,306,HL44,1,Não informado,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
4,2020-02-02,309,HL45,1,Produto com defeito,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...

In [9]:
df_vendas['Data da Venda'] = pd.to_datetime(df_vendas['Data da Venda'])
df_vendas['data_ingestao'] = pd.to_datetime(df_vendas['data_ingestao'])
df_vendas.info()
df_vendas.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data da Venda    2630 non-null   datetime64[ns]
 1   Ordem de Compra  2630 non-null   object
 2   SKU              2630 non-null   object
 3   ID Cliente       2630 non-null   int64
 4   Qtd Vendida      2630 non-null   int64
 5   ID Loja          2630 non-null   int64
 6   data_ingestao    2630 non-null   datetime64[ns]
 7   origem_arquivo   2630 non-null   object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 164.5+ KB

,Data da Venda,Ordem de Compra,SKU,ID Cliente,Qtd Vendida,ID Loja,data_ingestao,origem_arquivo
0,2020-01-01,SO45080,HL59,14657,1,101,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
1,2020-01-01,SO45079,HL45,29255,1,122,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
2,2020-01-01,SO45082,HL71,11455,1,200,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
3,2020-01-01,SO45081,HL62,26782,1,200,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
4,2020-01-02,SO45083,HL45,14947,1,199,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...

In [10]:
# Eliminando colunas não necessárias.

df_clientes = df_clientes.drop('Unnamed: 10', axis=1)
df_clientes = df_clientes.drop('Unnamed: 11', axis=1)
df_clientes.info()
df_clientes.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18150 entries, 0 to 18149
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID Cliente       18150 non-null  int64
 1   Primeiro Nome    18150 non-null  object
 2   Sobrenome        18150 non-null  object
 3   Email            18150 non-null  object
 4   Genero           18150 non-null  object
 5   Data Nascimento  18150 non-null  object
 6   Estado Civil     18150 non-null  object
 7   Num Filhos       18150 non-null  int64
 8   Nivel Escolar    18150 non-null  object
 9   Documento        18150 non-null  int64
 10  data_ingestao    18150 non-null  object
 11  origem_arquivo   18150 non-null  object
dtypes: int64(3), object(9)
memory usage: 1.7+ MB

,ID Cliente,Primeiro Nome,Sobrenome,Email,Genero,Data Nascimento,Estado Civil,Num Filhos,Nivel Escolar,Documento,data_ingestao,origem_arquivo
0,11000,STHEFESON,PEREIRA,sthefeson8@icloud.com,M,4/8/1966,C,2,Superior Completo,80912350,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
1,11001,ANTONIO,MANHÃES,antonio19@hotmail.com.br,M,5/14/1965,S,3,Superior Completo,18106981686,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
2,11002,BIANCA,PAZ,bianca53@live.com.br,F,8/12/1965,C,3,Superior Completo,77468986692,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
3,11003,SILVIO,FAHRNHOLZ,silvio21@hotmail.com.br,M,2/15/1968,S,0,Superior Completo,28009530521,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
4,11004,LUIZA,CABRAL,luiza70@msn.com,F,8/8/1968,S,5,Superior Completo,16316472002,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...

In [11]:
# Remover a parte da hora, se presente
df_clientes['Data Nascimento'] = df_clientes['Data Nascimento'].astype(str).str.split(' ').str[0]

# Agora converta as datas para o formato correto
df_clientes['Data Nascimento'] = pd.to_datetime(df_clientes['Data Nascimento'], format='%m/%d/%Y', errors='coerce')

df_clientes['data_ingestao'] = pd.to_datetime(df_clientes['data_ingestao'])

In [12]:
# OK

df_localidades.info()
df_localidades.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID Localidade   34 non-null     int64
 1   País            34 non-null     object
 2   Continente      34 non-null     object
 3   data_ingestao   34 non-null     object
 4   origem_arquivo  34 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.5+ KB

,ID Localidade,País,Continente,data_ingestao,origem_arquivo
0,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
1,2,Canadá,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
2,3,Reino Unido,Europa,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
3,4,França,Europa,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
4,5,Itália,Europa,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...

In [13]:
# Nesse caso a coluna de DOCUMENTO iremos converter para String

df_lojas.info()
df_lojas.head()

df_lojas['Documento Gerente'] = df_lojas['Documento Gerente'].astype(str)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID Loja                   306 non-null    int64
 1   Nome da Loja              306 non-null    object
 2   Quantidade Colaboradores  306 non-null    int64
 3   Tipo                      306 non-null    object
 4   id Localidade             306 non-null    int64
 5   Gerente Loja              306 non-null    object
 6   Documento Gerente         306 non-null    int64
 7   data_ingestao             306 non-null    object
 8   origem_arquivo            306 non-null    object
dtypes: int64(4), object(5)
memory usage: 21.6+ KB

In [14]:
# Excluindo a coluna "OBS" (tem apenas 4 registros)

df_produtos = df_produtos.drop('OBS',axis=1)
df_produtos.info()
df_produtos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SKU              293 non-null    object
 1   Produto          293 non-null    object
 2   Marca            293 non-null    object
 3   Tipo do Produto  293 non-null    object
 4   Preço Unitario   293 non-null    float64
 5   Custo Unitario   293 non-null    float64
 6   data_ingestao    293 non-null    object
 7   origem_arquivo   293 non-null    object
dtypes: float64(2), object(6)
memory usage: 18.4+ KB

,SKU,Produto,Marca,Tipo do Produto,Preço Unitario,Custo Unitario,data_ingestao,origem_arquivo
0,HL1,M510 Mouse sem fio - Vermelho,Logitech,Mouse,25.95,6.5,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
1,HL2,Mouse sem fio M170 - Preto,Logitech,Mouse,19.95,5.0,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
2,HL3,"Camisa Hashtag Eletro Masculina, P - Branco",Hashtag,Camisa,25.00,11.0,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
3,HL4,"Camisa Hashtag Eletro Masculina, M - Branco",Hashtag,Camisa,25.00,11.0,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
4,HL5,Mouse sem fio D09 - Azul,Multilaser,Mouse,11.99,3.4,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...

### Salvando os arquivos na camada Bronze com o formato Parquet

In [15]:
df_devolucao.to_parquet('C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/devolucao.parquet')
df_vendas.to_parquet('C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/vendas.parquet')
df_clientes.to_parquet('C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/clientes.parquet')
df_localidades.to_parquet('C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/localidades.parquet')
df_lojas.to_parquet('C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/lojas.parquet')
df_produtos.to_parquet('C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/produtos.parquet')