In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# Criando lista com os caminhos dos arquivos

lista_caminhos_bronze = ['C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/devolucao.parquet',
                         'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/vendas.parquet',
                         'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/clientes.parquet',
                         'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/localidades.parquet',
                         'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/lojas.parquet',
                         'C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/1_bronze/produtos.parquet']

In [3]:
# Criando os Dataframes com os arquivos.

df_devolucao = pd.read_parquet(lista_caminhos_bronze[0])
df_vendas = pd.read_parquet(lista_caminhos_bronze[1])
df_clientes = pd.read_parquet(lista_caminhos_bronze[2])
df_localidades = pd.read_parquet(lista_caminhos_bronze[3])
df_lojas = pd.read_parquet(lista_caminhos_bronze[4])
df_produtos = pd.read_parquet(lista_caminhos_bronze[5])

### Iremos inicar a OBT com os JOINs

Para isso iremos realizar vários LEFT JOIN com a tabela principal sendo a de Vendas (tb_fato).\
Iremos identificar quais colunas iremos usar para a conexão.

In [5]:
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data da Venda    2630 non-null   datetime64[ns]
 1   Ordem de Compra  2630 non-null   object
 2   SKU              2630 non-null   object
 3   ID Cliente       2630 non-null   int64
 4   Qtd Vendida      2630 non-null   int64
 5   ID Loja          2630 non-null   int64
 6   data_ingestao    2630 non-null   datetime64[ns]
 7   origem_arquivo   2630 non-null   object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 164.5+ KB

In [6]:
df_clientes.info()
df_produtos.info()
df_devolucao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18150 entries, 0 to 18149
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID Cliente       18150 non-null  int64
 1   Primeiro Nome    18150 non-null  object
 2   Sobrenome        18150 non-null  object
 3   Email            18150 non-null  object
 4   Genero           18150 non-null  object
 5   Data Nascimento  18149 non-null  datetime64[ns]
 6   Estado Civil     18150 non-null  object
 7   Num Filhos       18150 non-null  int64
 8   Nivel Escolar    18150 non-null  object
 9   Documento        18150 non-null  int64
 10  data_ingestao    18150 non-null  datetime64[ns]
 11  origem_arquivo   18150 non-null  object
dtypes: datetime64[ns](2), int64(3), object(7)
memory usage: 1.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SKU              293 non-null    object
 1   Produto          293 non-null    object
 2   Marca            293 non-null    object
 3   Tipo do Produto  293 non-null    object
 4   Preço Unitario   293 non-null    float64
 5   Custo Unitario   293 non-null    float64
 6   data_ingestao    293 non-null    object
 7   origem_arquivo   293 non-null    object
dtypes: float64(2), object(6)
memory usage: 18.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1809 entries, 0 to 1808
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data Devolução    1809 non-null   datetime64[ns]
 1   ID Loja           1809 non-null   int64
 2   SKU               1809 non-null   object
 3   Qtd Devolvida     1809 non-null   int64
 4   Motivo Devolução  1809 non-null   object
 5   data_ingestao     1809 non-null   datetime64[ns]
 6   origem_arquivo    1809 non-null   object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 99.1+ KB

### Iremos primeiro conectar ID CLIENTES e os SKUs

In [8]:
join_01 = (
    df_vendas
    .merge(df_produtos, on='SKU', how='left')
    .merge(df_clientes, on='ID Cliente', how='left')
)

In [9]:
join_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Data da Venda     2630 non-null   datetime64[ns]
 1   Ordem de Compra   2630 non-null   object
 2   SKU               2630 non-null   object
 3   ID Cliente        2630 non-null   int64
 4   Qtd Vendida       2630 non-null   int64
 5   ID Loja           2630 non-null   int64
 6   data_ingestao_x   2630 non-null   datetime64[ns]
 7   origem_arquivo_x  2630 non-null   object
 8   Produto           2630 non-null   object
 9   Marca             2630 non-null   object
 10  Tipo do Produto   2630 non-null   object
 11  Preço Unitario    2630 non-null   float64
 12  Custo Unitario    2630 non-null   float64
 13  data_ingestao_y   2630 non-null   object
 14  origem_arquivo_y  2630 non-null   object
 15  Primeiro Nome     2630 non-null   object
 16  Sobrenome         2630 non-null   object
 17  Email             2630 non-null   object
 18  Genero            2630 non-null   object
 19  Data Nascimento   2630 non-null   datetime64[ns]
 20  Estado Civil      2630 non-null   object
 21  Num Filhos        2630 non-null   int64
 22  Nivel Escolar     2630 non-null   object
 23  Documento         2630 non-null   int64
 24  data_ingestao     2630 non-null   datetime64[ns]
 25  origem_arquivo    2630 non-null   object
dtypes: datetime64[ns](4), float64(2), int64(5), object(15)
memory usage: 534.3+ KB

### Agora iremos conclui a conexão com o restante das tabelas

In [11]:
df_localidades.info()
df_lojas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID Localidade   34 non-null     int64
 1   País            34 non-null     object
 2   Continente      34 non-null     object
 3   data_ingestao   34 non-null     object
 4   origem_arquivo  34 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID Loja                   306 non-null    int64
 1   Nome da Loja              306 non-null    object
 2   Quantidade Colaboradores  306 non-null    int64
 3   Tipo                      306 non-null    object
 4   id Localidade             306 non-null    int64
 5   Gerente Loja              306 non-null    object
 6   Documento Gerente         306 non-null    object
 7   data_ingestao             306 non-null    object
 8   origem_arquivo            306 non-null    object
dtypes: int64(3), object(6)
memory usage: 21.6+ KB

In [12]:
join_02 = (
    df_lojas
    .merge(df_localidades, left_on='id Localidade', right_on='ID Localidade' , how='left')
        )
join_02.head()

,ID Loja,Nome da Loja,Quantidade Colaboradores,Tipo,id Localidade,Gerente Loja,Documento Gerente,data_ingestao_x,origem_arquivo_x,ID Localidade,País,Continente,data_ingestao_y,origem_arquivo_y
0,1,Loja Seattle No.1,17,Física,1,"Gonçalves, João",666418406,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
1,2,Loja Seattle No.2,25,Física,1,"Pinheiro, Fernanda",782269727,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
2,3,Loja Kennewick,26,Física,1,"Alves, Rodrigo",566476645,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
3,4,Loja Bellevue,19,Física,1,"Costa, Raissa",598832615,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
4,5,Loja Redmond,33,Física,1,"Monteiro, Felipe",200191505,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...

In [13]:
df_OBT = (join_01
          .merge(join_02, on="ID Loja", how='left')
         )

In [14]:
df_OBT.info()
df_OBT.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data da Venda             2630 non-null   datetime64[ns]
 1   Ordem de Compra           2630 non-null   object
 2   SKU                       2630 non-null   object
 3   ID Cliente                2630 non-null   int64
 4   Qtd Vendida               2630 non-null   int64
 5   ID Loja                   2630 non-null   int64
 6   data_ingestao_x_x         2630 non-null   datetime64[ns]
 7   origem_arquivo_x_x        2630 non-null   object
 8   Produto                   2630 non-null   object
 9   Marca                     2630 non-null   object
 10  Tipo do Produto           2630 non-null   object
 11  Preço Unitario            2630 non-null   float64
 12  Custo Unitario            2630 non-null   float64
 13  data_ingestao_y_x         2630 non-null   object
 14  origem_arquivo_y_x        2630 non-null   object
 15  Primeiro Nome             2630 non-null   object
 16  Sobrenome                 2630 non-null   object
 17  Email                     2630 non-null   object
 18  Genero                    2630 non-null   object
 19  Data Nascimento           2630 non-null   datetime64[ns]
 20  Estado Civil              2630 non-null   object
 21  Num Filhos                2630 non-null   int64
 22  Nivel Escolar             2630 non-null   object
 23  Documento                 2630 non-null   int64
 24  data_ingestao             2630 non-null   datetime64[ns]
 25  origem_arquivo            2630 non-null   object
 26  Nome da Loja              2630 non-null   object
 27  Quantidade Colaboradores  2630 non-null   int64
 28  Tipo                      2630 non-null   object
 29  id Localidade             2630 non-null   int64
 30  Gerente Loja              2630 non-null   object
 31  Documento Gerente         2630 non-null   object
 32  data_ingestao_x_y         2630 non-null   object
 33  origem_arquivo_x_y        2630 non-null   object
 34  ID Localidade             2630 non-null   int64
 35  País                      2630 non-null   object
 36  Continente                2630 non-null   object
 37  data_ingestao_y_y         2630 non-null   object
 38  origem_arquivo_y_y        2630 non-null   object
dtypes: datetime64[ns](4), float64(2), int64(8), object(25)
memory usage: 801.5+ KB

,Data da Venda,Ordem de Compra,SKU,ID Cliente,Qtd Vendida,ID Loja,data_ingestao_x_x,origem_arquivo_x_x,Produto,Marca,...,id Localidade,Gerente Loja,Documento Gerente,data_ingestao_x_y,origem_arquivo_x_y,ID Localidade,País,Continente,data_ingestao_y_y,origem_arquivo_y_y
0,2020-01-01,SO45080,HL59,14657,1,101,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,iPhone SE 256GB - Preto,Apple,...,1,"Lemos, Adrielle",665062470,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
1,2020-01-01,SO45079,HL45,29255,1,122,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,iPhone 13 Pro Max 512GB - Vermelho,Apple,...,1,"Felipe, Fillipe",485593871,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
2,2020-01-01,SO45082,HL71,11455,1,200,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,iPhone 12 Mini 128GB - Preto,Apple,...,1,"Barbosa, Adriano",797635524,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
3,2020-01-01,SO45081,HL62,26782,1,200,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,iPhone 12 Pro Max 512GB - Preto,Apple,...,1,"Barbosa, Adriano",797635524,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...
4,2020-01-02,SO45083,HL45,14947,1,199,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,iPhone 13 Pro Max 512GB - Vermelho,Apple,...,1,"Costa, Jéssica",777271114,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,1,Estados Unidos,América do Norte,2025-05-04 16:36,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...

### Últimos ajustes:

Iremos agora realizar a limpeza de alguns dados redundantes no DataFrame.

Além disso iremos padronizar os nomes das colunas.

In [16]:
# Excluindo as colunas de ingestão que importamos duplicadas.

df_OBT = df_OBT.drop(columns=[
    'data_ingestao_x_x', 'origem_arquivo_x_x',
    'data_ingestao_y_x', 'origem_arquivo_y_x',
    'data_ingestao_x_y', 'origem_arquivo_x_y',
    'data_ingestao_y_y', 'origem_arquivo_y_y',
    'id Localidade'])

In [17]:
df_OBT.info()
df_OBT.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Data da Venda             2630 non-null   datetime64[ns]
 1   Ordem de Compra           2630 non-null   object
 2   SKU                       2630 non-null   object
 3   ID Cliente                2630 non-null   int64
 4   Qtd Vendida               2630 non-null   int64
 5   ID Loja                   2630 non-null   int64
 6   Produto                   2630 non-null   object
 7   Marca                     2630 non-null   object
 8   Tipo do Produto           2630 non-null   object
 9   Preço Unitario            2630 non-null   float64
 10  Custo Unitario            2630 non-null   float64
 11  Primeiro Nome             2630 non-null   object
 12  Sobrenome                 2630 non-null   object
 13  Email                     2630 non-null   object
 14  Genero                    2630 non-null   object
 15  Data Nascimento           2630 non-null   datetime64[ns]
 16  Estado Civil              2630 non-null   object
 17  Num Filhos                2630 non-null   int64
 18  Nivel Escolar             2630 non-null   object
 19  Documento                 2630 non-null   int64
 20  data_ingestao             2630 non-null   datetime64[ns]
 21  origem_arquivo            2630 non-null   object
 22  Nome da Loja              2630 non-null   object
 23  Quantidade Colaboradores  2630 non-null   int64
 24  Tipo                      2630 non-null   object
 25  Gerente Loja              2630 non-null   object
 26  Documento Gerente         2630 non-null   object
 27  ID Localidade             2630 non-null   int64
 28  País                      2630 non-null   object
 29  Continente                2630 non-null   object
dtypes: datetime64[ns](3), float64(2), int64(7), object(18)
memory usage: 616.5+ KB

,Data da Venda,Ordem de Compra,SKU,ID Cliente,Qtd Vendida,ID Loja,Produto,Marca,Tipo do Produto,Preço Unitario,...,data_ingestao,origem_arquivo,Nome da Loja,Quantidade Colaboradores,Tipo,Gerente Loja,Documento Gerente,ID Localidade,País,Continente
0,2020-01-01,SO45080,HL59,14657,1,101,iPhone SE 256GB - Preto,Apple,Celular,579.0,...,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,Loja Miami No.1,17,Física,"Lemos, Adrielle",665062470,1,Estados Unidos,América do Norte
1,2020-01-01,SO45079,HL45,29255,1,122,iPhone 13 Pro Max 512GB - Vermelho,Apple,Celular,1399.0,...,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,Loja Oswego,22,Física,"Felipe, Fillipe",485593871,1,Estados Unidos,América do Norte
2,2020-01-01,SO45082,HL71,11455,1,200,iPhone 12 Mini 128GB - Preto,Apple,Celular,549.0,...,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,Loja Catalog,120,Física,"Barbosa, Adriano",797635524,1,Estados Unidos,América do Norte
3,2020-01-01,SO45081,HL62,26782,1,200,iPhone 12 Pro Max 512GB - Preto,Apple,Celular,1249.0,...,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,Loja Catalog,120,Física,"Barbosa, Adriano",797635524,1,Estados Unidos,América do Norte
4,2020-01-02,SO45083,HL45,14947,1,199,iPhone 13 Pro Max 512GB - Vermelho,Apple,Celular,1399.0,...,2025-05-04 16:36:00,C:/Users/Kimura/Desktop/Projetos/Analise_Perfo...,Loja North America Online,325,Online,"Costa, Jéssica",777271114,1,Estados Unidos,América do Norte

In [18]:
# Padronizando os nomes das colunas do Dataframe

df_OBT.columns = (
    df_OBT.columns
    .str.lower()
    .str.strip()
    .str.replace(' ', '_')
    .str.normalize('NFKD')  # remove acentos
    .str.encode('ascii', errors='ignore')
    .str.decode('utf-8')
)

In [19]:
df_OBT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   data_da_venda             2630 non-null   datetime64[ns]
 1   ordem_de_compra           2630 non-null   object
 2   sku                       2630 non-null   object
 3   id_cliente                2630 non-null   int64
 4   qtd_vendida               2630 non-null   int64
 5   id_loja                   2630 non-null   int64
 6   produto                   2630 non-null   object
 7   marca                     2630 non-null   object
 8   tipo_do_produto           2630 non-null   object
 9   preco_unitario            2630 non-null   float64
 10  custo_unitario            2630 non-null   float64
 11  primeiro_nome             2630 non-null   object
 12  sobrenome                 2630 non-null   object
 13  email                     2630 non-null   object
 14  genero                    2630 non-null   object
 15  data_nascimento           2630 non-null   datetime64[ns]
 16  estado_civil              2630 non-null   object
 17  num_filhos                2630 non-null   int64
 18  nivel_escolar             2630 non-null   object
 19  documento                 2630 non-null   int64
 20  data_ingestao             2630 non-null   datetime64[ns]
 21  origem_arquivo            2630 non-null   object
 22  nome_da_loja              2630 non-null   object
 23  quantidade_colaboradores  2630 non-null   int64
 24  tipo                      2630 non-null   object
 25  gerente_loja              2630 non-null   object
 26  documento_gerente         2630 non-null   object
 27  id_localidade             2630 non-null   int64
 28  pais                      2630 non-null   object
 29  continente                2630 non-null   object
dtypes: datetime64[ns](3), float64(2), int64(7), object(18)
memory usage: 616.5+ KB

In [20]:
df_OBT.to_parquet('C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/2_silver/One_Big_Table.parquet')

### OBT de Devolução

Mesmo processo mas para a tabela de devolução.

In [22]:
join_03 = (
        df_devolucao
        .merge(df_produtos, on='SKU', how='left')
        .merge(join_02, on='ID Loja', how='left')
         )

In [23]:
join_03 = join_03.drop(columns=[
    'data_ingestao_x_x', 'origem_arquivo_x_x',
    'data_ingestao_y_x', 'origem_arquivo_y_x',
    'data_ingestao_x_y', 'origem_arquivo_x_y',
    'data_ingestao_y_y', 'origem_arquivo_y_y',
    'id Localidade'])

In [24]:
join_03.columns = (
    join_03.columns
    .str.lower()
    .str.strip()
    .str.replace(' ', '_')
    .str.normalize('NFKD')  # remove acentos
    .str.encode('ascii', errors='ignore')
    .str.decode('utf-8')
)

In [25]:
df_OBT_02 = join_03
df_OBT_02.to_parquet('C:/Users/Kimura/Desktop/Projetos/Analise_Performance_Comercial_Global/2_silver/One_Big_Table_02.parquet')